# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
JavaCore/javacore/src/main/java/vn/com/ids/.DS_Store
JavaCore/javacore/.classpath
JavaCore/.DS_Store
JavaCore/javacore/src/.DS_Store
JavaCore/javacore/src/main/java/.DS_Store
JavaCore/javacore/src/main/.DS_Store
JavaCore/javacore/src/main/java/vn/.DS_Store
JavaCore/javacore/.classpath
JavaCore/javacore/src/main/java/vn/com/ids/javacore/.DS_Store
.DS_Store
RemoteSystemsTempFiles/.project
JavaCore/javacore/target/*
JavaCore/javacore/.settings/org.eclipse.jdt.core.prefs
*.xml
JavaCore/javacore/target/classes/META-INF/maven/vn.com.ids/javacore/pom.xml
